@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
%box-shadow-outer {
  background: linear-gradient(129.67deg, rgba(122, 127, 133, 0.4) 14.52%, rgba(255, 255, 255, 0.4) 100%),
    linear-gradient(133.76deg, #e6e7ed -18.17%, #f7f8fa 140.27%) !important;
  background-blend-mode: soft-light, normal;
  box-shadow: -2px -3px 8px #fafafc, 1px 1px 5px #b1b5c6, inset 1px 1px 3px #ebecf0 !important;
  border-radius: 8px;
}

%box-shadow-inner {
  background: #ebecf0 !important;
  box-shadow: inset -2px -2px 6px #ffffff, inset 2px 2px 3px #bdc1d1 !important;
}

%text-color {
  color: var(--text-color) !important;
}
%text-color-black {
  color: var(--text-color) !important;
}

%focus {
  &:hover,
  &:focus {
    border-color: var(--text-color) !important;
  }
}

:root {
  --bg-color: #f2f2f2;
  --text-color: #757e95;
  --text-green: #757e95;
}
* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ecedf2;
  }
}
.bg-theme {
  background: var(--bg-color) !important;
  color: var(--text-color);
  * {
    @extend %text-color;
  }
  ul {
    li {
      a {
        &:hover {
          span {
            @extend %text-color-black;
          }
        }
      }
    }
  }
}
.text-white {
  @extend %text-color;
}
.text-green {
  color: var(--text-green);
}
.tabs-name {
  border-radius: 12px 12px 0 0 !important;
  h1 {
    width: 8rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem /* 18px */;
    line-height: 0 /* 28px */;
    color: var(--text-color);
    &.active-tab {
      @extend %box-shadow-inner;
      font-weight: bold;
    }
  }
}
.btn-delete {
  background: linear-gradient(130.46deg, #ed5249 12.58%, #c91d12 89.78%) !important;
  box-shadow: none !important;
  border-radius: 8px;
  border: 0 !important;
  color: var(--bg-color) !important;
  > span {
    color: var(--bg-color) !important;
  }
}
body {
  background: var(--bg-color) !important;
  overflow: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  *:not(.pi) {
    font-family: "Josefin Sans", sans-serif !important;
  }
  header {
    @extend %box-shadow-outer;
    border-radius: 0;
    h1 {
      @extend %text-color;
    }
  }
  .p-card {
    @extend %box-shadow-outer;
  }

  .p-inputgroup-addon {
    background: linear-gradient(128.11deg, #26272b 6.67%, #34393f 97.78%) !important;
    i {
      @extend %text-color;
    }
  }
  input,
  .p-dropdown {
    @extend %box-shadow-inner;
    height: 54px;
    outline: 0;
    font-size: 1.3rem;
    width: 100%;
    align-items: center;
    padding: 0.5rem;
    color: var(--text-color) !important;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    @extend %focus;
  }

  label {
    display: block;
    font-weight: 500 !important;
  }
  .p-button:not(.btn-delete) {
    @extend %box-shadow-outer;
    span {
      @extend %text-color;
    }
    border: 0 !important;
    &:focus {
      box-shadow: 0 0 0 2px #17b596, 0 0 0 2px #28f8c8, 0 1px 1px 0 black;
    }
  }
  .content-wrapper {
    height: calc(100vh - 114px);
    overflow-y: auto;
    background: none !important;
    box-shadow: none;
  }
  .side-bar {
    position: relative;
    margin-left: calc(-250px - 1.25rem);
    opacity: 0;
    > .p-card {
      height: calc(100vh - 114px);
    }
    &.active-side-bar {
      margin-left: 0;
      opacity: 1;
    }
  }
  table {
    .p-datatable-thead {
      @extend %box-shadow-outer;
      border-radius: 0;
      * {
        color: var(--text-color);
      }
    }

    * {
      @extend %text-color;
    }
    .p-badge {
      -webkit-text-fill-color: var(--text-color) !important;
    }
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    @extend %box-shadow-outer;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    color: var(--text-color);
    border-radius: 50%;
  }

  .dashboard-card {
    .p-card {
      height: fit-content;
      .p-card-content {
        padding: 0;
      }
      &:hover {
        @extend %box-shadow-inner;
      }
    }
  }
}

@layer components {
  .text-error {
    @apply text-red-700;
  }
  .sidebar-navigation {
    li {
      @apply rounded-xl transition-all;
      a {
        color: var(--text-color);
        @apply text-lg p-4 rounded-xl inline-block w-full;
        > .pi {
          @apply mr-2;
        }
      }
      &:hover {
        @extend %box-shadow-inner;
      }
      &.active {
        @extend %box-shadow-inner;
        a {
          color: var(--text-color);
          font-weight: 900;
          > i {
            font-weight: 900;
          }
        }
      }
      &.nav-dropdown {
        position: relative;
        transition: all 0.3s ease-in-out;
        ul {
          position: relative;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          max-height: 0px;
          li {
            box-shadow: none !important;
            background: none !important;
          }
        }
        &.active-dropdown {
          @extend %box-shadow-inner;
          > a {
            @apply text-[#28F8C8];
          }
          ul {
            max-height: max-content;
          }
        }
        &.route-active-dropdown {
          @extend %box-shadow-inner;
          > a {
            @apply text-[#28F8C8];
          }
        }
      }
    }
  }
  .data-table {
    :is(tr, th, td, .p-paginator, .p-datatable-header) {
      background-color: transparent !important;
      .p-dropdown.p-inputwrapper-filled {
        width: auto;
      }
    }
  }
  .shadow-inner {
    @extend %box-shadow-inner;
  }
}

.p-dialog {
  background-color: var(--bg-color);
  *:is(.p-dialog-header, .p-dialog-content) {
    color: var(--text-color) !important;
    background-color: transparent;
  }
  form > div:last-child {
    background-color: var(--bg-color);
  }
}
